*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

h1{
    color: #ffffff;
    font-size: 90;
    margin-bottom: 30px;
    text-align: center;
    text-shadow:
    0px 0px 10px #4133ff,
    0px 0px 20px #4133ff,
    0px 0px 40px #4133ff,
    0px 0px 60px #4133ff,
    0px 0px 80px #4133ff;
}

h2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}

#foto{
    margin-top: 100px;
    height: 250px;
    width: 250px;

   
}

.box{

    margin: 0 auto;
    width: 420px;
    height: auto;
    position: relative;
    border: 5px solid rgb(255, 255, 255);
}

.text{
    margin-top: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    

}